.DS_Store
.dockerignore
.env
.git
.github
.gitignore
.hadolint.yaml
.vscode
CHANGELOG.md
Dockerfile
LICENSE
Makefile
README.md
data
docker-compose.yml
docs
make-build.bat
package.json
scripts
storage
target
